  <!DOCTYPE html>
  <html lang="en">
  <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Evalynx AI Interview</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
  </head>

  <body data-username="{{ name }}">
  <div class="navbar">
    <div class="nav-inner">
      <div class="brand">Evalynx</div>
    </div>
  </div>

  <div class="page">
    <div class="welcome">Welcome, {{ name }}</div>

    <div class="app">
      <h2>Evalynx AI Interview</h2>

      <div class="call-grid">
        <div class="ai-panel-wrapper">
            <svg class="border-timer" viewBox="0 0 100 100" preserveAspectRatio="none">
              <rect
                x="1"
                y="1"
                width="98"
                height="98"
                rx="6"
                ry="6"
                pathLength="1"
                class="border-path"
              />
            </svg>
          <div class="panel ai-panel" id="aiPanel">
            <img src="/static/images/evalynx.png" alt="AI Interviewer" class="avatar">
            <div class="question-text" id="questionText">Loading question...</div>
            <button id="speakBtn" onclick="speakAgain()" style="margin-top:8px;width:100%;">🔊 Read Again</button>
        </div>
      </div>

        <div class="panel">
          <video id="cam" autoplay playsinline></video>
          <div class="camera-controls">
            <button id="startCam">Camera On</button>
            <button id="stopCam" disabled>Camera Off</button>
          </div>
        </div>
      </div>

      <div class="controls">
        <textarea id="answerInput" rows="2" placeholder="Speak or type your answer..."></textarea>
        <button type="button" onclick="startListening()">🎤</button>
        <button type="button" onclick="submitAnswer()">Submit</button>
      </div>

      <div id="response"></div>

      <div class="progress-wrapper">
        <div class="progress-bar">
          <div class="progress-fill" id="progressFill"></div>
        </div>
        <div class="progress-text" id="progressText">0% completed</div>
      </div>


    </div>
  </div>

  <script src="{{ url_for('static', path='js/interview.js') }}"></script>
  </body>
  </html>
